target/
!.mvn/wrapper/maven-wrapper.jar

tts_sample.*

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.lst

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/logs/
/log/
/*/log
thrift/spring-cloud-starter-thrift-server/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
